html {
  font-family: sans-serif;
  /*-webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;*/
}
body {
  margin: 0;
  font-family: "Avenir";
  font-style: "heavy";
  font-weight: lighter;
  font-size: 1em;
  background-color: rgba(216, 216, 216, 0.3)
  

}

p{
	font-family: "Avenir";
	font-weight: lighter;
	font-size: .3em;
	z-index: 1000;
	color: #fff;
}
img{
	opacity: 0.4;
    filter: alpha(opacity=40);
}
header {
display: block;
background-color: #51D088;
padding-bottom: 35em;
margin-top: -19em;
color: "white";
}

footer{
	display: block;
	background-color: rgba(216, 216, 216, 0.3);
	height: 5em;
	margin-top: 20em;
}
h1{
	font-family: "Avenir";
	font-size: 3em;
	font-weight: lighter;
	color: #737373;


}
h2{
	font-family: "Avenir";
	font-size: 1em;
	font-weight: lighter;
	color: #51D088;
	letter-spacing: .3em;
	margin-bottom: -1.4em;
	margin-top: -.4em;
	text-transform: uppercase;
}
h3{

	font-family: "Avenir";
	font-style: "heavy";
	font-weight: lighter;
 	font-size: 1em;
 	color: #ADBDBA;
    letter-spacing: .2em;
}
h4{
	font-family: "Avenir";
	font-size: 3em;
	font-weight: lighter;
	color: #fff;
	letter-spacing: .3em;
	margin-bottom: -1.4em;
	margin-top: 1.6em;
}
h5{
	color: #51D088;
}
a{
	font-family: "Avenir";
	font-size: 1em;
	letter-spacing: .3em;
	font-weight: lighter;
	color: rgba(115, 115, 115, 0.53);
	text-decoration: none;

}
a:hover{
	color: #51D088;
}

}
.scroll{
	overflow: scroll;
}

.alignleft{
	margin-left: 0.5em;
	position: absolute;
	margin-bottom: 0em;
	margin-top: -5em;

}
.fafa{
	font-size: xx-large;

}
.alignright{
	margin-left: 20.5em;
	position: absolute;
	margin-bottom: -1em;
	margin-top: -5em;

}
.margint{
	margin-top: -8em;
}
.padtop{
	padding-top: .7em;
}

.container{
	width: 58.4%;
	height: 14em;
	background-color: #fff;
	position: absolute;
	margin-left: 20.8%;
	margin-top: -14em;
	color: #CACACA;
	background-image: url(./img/florida-skyline-01.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}

.container2{
	width: 58.4%;
	height: 17em;
	background-color: #fff;
	position: absolute;
	margin-left: 20.8%;
	color: #303030;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

.score {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -90%);
	-moz-transform: translate(-50%, -90%);
	-o-transform: translate(-50%, -90%);
	transform: translate(-50%, -90%);
}

#mainscore {
	font-size: 3em;
	color: #51D088;
	font-weight: lighter;
	font-family: "Avenir Next";
}

#maincircle {
	height: 100px;
	width: 100px;
	margin-top: 1em;
}

#munilink:hover {
	color: #97FFC4;
	cursor: pointer;
}
#munilink:active {
    color: #97FFC4;
}

.munihidden {
	text-align: left;
	height: 2em;
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

.munishown {
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
	background-image: url(./img/cityskylinefl.jpg);
	background-size: cover;
	text-align: left;
}

.muniscore {
	height: 2em;
}

.icon {
	position: relative;
	height: 2em;
	width: 2em;
}

#icon1 {
	margin-left: 50%;
}

#icon2 {
}

#icon3 {
}

#icon4 {
}

/*.department {
	color: white;
}

#department1 {

}

#department2 {
	margin-left: 20em;
    margin-top: -1.3em;
}

#department3 {
    margin-top: 2em;
}

#department4 {
	margin-left: 20em;
	margin-top: -1.4em;
}*/

.circle {
	position: relative;
	height: 2em;
	width: 2em;
}

#circle1 {

}

#circle2 {
	
}

#circle3 {
	
}

#circle4 {
	
}

.spacecool{
	color: #ADBDBA;
    letter-spacing: .2em;
}

@media (max-width: 780px){
	.container{
		width: 78.4%;
		height: 14em;
		background-color: #fff;
		position: absolute;
		margin-left: 10.8%;
	}
	.container2 {
		width: 78.4%;
		height: 14em;
		background-color: #fff;
		position: absolute;
		margin-left: 10.8%;
	}
}

@media (max-width: 525px){
	.container{
		width: 88.4%;
		height: 14em;
		background-color: #fff;
		position: absolute;
		margin-left: 5.8%;
	}
	.container2 {
		width: 88.4%;
		height: 14em;
		background-color: #fff;
		position: absolute;
		margin-left: 5.8%;
	}
}