html {
  font-family: sans-serif;
  /*-webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;*/
}
body {
  margin: 0;
  font-family: "Avenir";
  font-style: "heavy";
  font-weight: lighter;
  font-size: 1em;
  background-color: rgba(216, 216, 216, 0.3)
  

}

p{
	font-family: "Avenir";
	font-weight: lighter;
	font-size: .3em;
	z-index: 1000;
	color: #fff;
}
img{
	opacity: 0.4;
    filter: alpha(opacity=40);
        width: 4em;
}
header {
    display: block;
    background-color: #51D088;
    padding-bottom: 57%;
    margin-top: -32%;
	color: "white";
}

footer{
	display: block;
	background-color: rgba(216, 216, 216, 0.3);
	height: 5em;
	margin-top: 20em;
}
h1{
	font-family: "Avenir";
	font-size: 3em;
	font-weight: lighter;
	color: #737373;


}
h2{
	font-family: "Avenir";
	font-size: 1em;
	font-weight: lighter;
	color: #51D088;
	letter-spacing: .3em;
	text-transform: uppercase;
}
h3{

	font-family: "Avenir";
	font-style: "heavy";
	font-weight: lighter;
 	font-size: 1em;
 	color: #ADBDBA;
    letter-spacing: .2em;
}
h4{
	font-family: "Avenir";
    font-size: 3em;
    font-weight: lighter;
    color: #fff;
    letter-spacing: .3em;
    margin-bottom: -0.4em;
    margin-top: 3%;
}
h5{
	color: #51D088;
}
a{
	font-family: "Avenir";
	font-size: 1em;
	letter-spacing: .3em;
	font-weight: lighter;
	color: rgba(115, 115, 115, 0.53);
	text-decoration: none;

}
a:hover{
	color: #51D088;
}

}
.scroll{
	overflow: scroll;
}

.alignleft{
	margin-left: 0.5em;
	position: absolute;
	margin-bottom: 0em;
	margin-top: -5em;

}
.fafa{
	font-size: xx-large;

}
.alignright{
	margin-left: 20.5em;
	position: absolute;
	margin-bottom: -1em;
	margin-top: -5em;

}
.margint{
	margin-top: -8em;
}
.padtop{
	padding-top: .7em;
}

.container{
    width: 58.4%;
    height: 33%;
    background-color: #fff;
    position: absolute;
    top: 18%;
    margin-left: 20.8%;
    color: #CACACA;
    background-image: url(./img/florida-skyline-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container2{
	width: 58.4%;
	height: 17em;
	background-color: #fff;
	position: absolute;
	margin-left: 20.8%;
	color: #303030;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

.score {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23.5%;
    margin-top: -26.4%;
}

#mainscore {
	font-size: 3em;
	color: #51D088;
	font-weight: lighter;
	font-family: "Avenir Next";
}

#maincircle {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -9.5%;
    margin-top: -9.5%;
    height: 100px;
    width: 100px;
}

#munilink:hover {
	color: #97FFC4;
	cursor: pointer;
}

#munilink:active {
    color: #97FFC4;
}

#munilink {
	margin-left: 20%;
}

.munihidden {
	text-align: left;
	height: 2em;
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
}

.munishown {
	height: 10em;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 1em;
	background-image: url(./img/cityskylinefl.jpg);
	background-size: cover;
	text-align: left;
}

.muniscore {
	height: 2em;
}

.muniname {
	margin-left: 22%;
	position: absolute;
}

.icon {
	position: absolute;
	margin-top: 5em;
	height: 2em;
	width: 2em;
}

#icon1 {
	margin-left: 3%;
}

#icon2 {
	margin-left: 45%;
}

#icon3 {
	margin-left: 3%;
	margin-top: 7.5em;
}

#icon4 {
	margin-top: 7.5em;
	margin-left: 45%;
}

.newscore {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -22.5%;
    margin-top: -24.4%;
}

#score0 {
	font-size: 2em;
}

.circle {
	position: absolute;
	margin-top: 5em;
	height: 2em;
	width: 2em;
	color: #51D088;
}

#circle0 {
	margin-top: 0;
	margin-left: 1em;
	height: 5em;
	width: 5em;
	font-size: 1em;
}

#circle1 {
	margin-left: 10%;
}

#circle2 {
	margin-left: 52%;
}

#circle3 {
	margin-top: 7.5em;
	margin-left: 10%;
}

#circle4 {
	margin-top: 7.5em;
	margin-left: 52%;
}

.spacecool{
	color: #ADBDBA;
    letter-spacing: .2em;
}
/*.department {
	color: white;
}

#department1 {

}

#department2 {
	margin-left: 20em;
    margin-top: -1.3em;
}

#department3 {
    margin-top: 2em;
}

#department4 {
	margin-left: 20em;
	margin-top: -1.4em;
}*/
@media (max-width: 780px){
	.container{
		width: 78.4%;
		height: 14em;
		background-color: #fff;
		position: absolute;
		margin-left: 10.8%;
	}
	.container2 {
		width: 78.4%;
		height: 14em;
		background-color: #fff;
		position: absolute;
		margin-left: 10.8%;
	}
}

@media (max-width: 525px){
	.container{
		width: 88.4%;
		height: 14em;
		background-color: #fff;
		position: absolute;
		margin-left: 5.8%;
	}
	.container2 {
		width: 88.4%;
		height: 14em;
		background-color: #fff;
		position: absolute;
		margin-left: 5.8%;
	}

}